:root {
  --color-one: #57a946;
  --color-tow: #031b68;
}
.color-one {
  color: var(--color-one);
}
.color-tow {
  color: var(--color-tow);
}
body {
  font-family: "cairo";
  letter-spacing: 0;
  direction: rtl;
}

/* start Header */
.header-area {
  height: 80vh;
  background-image: url(../imgs/banner3.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  transition: 0.5s;
  background-position: center;
}

.header-area .overlay {
  background-color: rgba(0, 0, 0, 0.322);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-area .head-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  text-align: center;
}

.header-area .head-info h2 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0px;
  margin: auto;
  line-height: 1.8;
  width: 50%;
}

.header-area .head-info h2 span {
  color: var(--color-one);
}

.header-area .head-info p {
  line-height: 2;
  font-size: 40px;
}

.navbar {
  padding: 10px;
  z-index: 5;
}

nav.bg-dark {
  background-color: var(--color-one) !important;
}

.nav-link {
  color: white !important;
  font-weight: 900;
  transition: 0.5s;
  position: relative;
  margin-right: 1.5rem;
}

.nav-link:hover::before {
  transition: 0.5s;
  content: "";
  position: absolute;
  background-color: black;
  width: 80%;
  height: 2px;
  bottom: 0;
}

.nav-link:hover {
  color: black !important;
  font-weight: 900;
}

@media (min-width: 320px) and (max-width: 780px) {
  .header-area .head-info h2 {
    font-size: 40px;
    width: 100%;
  }
}

/* About us */
.about-area {
  padding: 40px 0;
  text-align: center;
}

.about-area .about-info h2 {
  color: var(--color-tow);
  font-size: 25px;
  margin: 30px 0;
  font-weight: bold;

  text-shadow: 2px 3px 5px #999;
}

.about-area .about-info p {
  color: #999;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 0;
}
.about-area .about-info ul li {
  color: #999;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: right;
}

.about-area .about-img {
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #999;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .about-us {
    display: block;
    text-align: center;
  }
}
/* about Sections */
.title-area {
  color: var(--color-one);
  font-size: 3rem;
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 3px 5px #333;
  position: relative;
  padding: 15px 0;
}
.about-area.section-title {
  font-size: 30px;
}
.title-area::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--color-one);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50px);
}

/* feauter */
.feauter {
  background-image: url(../imgs/banner2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  position: relative;
  border-top: 5px var(--color-tow) solid;
}

.feauter .title-area {
  z-index: 3;
  margin-bottom: 50px;
}

.feauter .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

.feauter .feauter-box {
  text-align: center;
  color: white;
  border: 1px solid var(--color-one);
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 3;
  position: relative;
  margin-bottom: 20px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feauter .feauter-box i {
  color: var(--color-one);
  text-shadow: 2px 2px 10px #444;
}

.feauter .feauter-box h4 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

/* call su */
.callus {
  background-image: url(../imgs/banner1.jpg);
  color: var(--color-one);
}
.callus-info {
  background-color: var(--color-tow);
  text-align: right;
}
.callus-info ul li {
  color: white;
  margin: 10px 0;
}
.callus-info ul li span {
  color: var(--color-one);
  font-size: 25px;
}
.callus-form input {
  width: 100%;
  height: 50px;
  margin: 7px 0;
}
/* fotter */
.fotter {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
}

.fotter p {
  margin: 0;
}

.fotter a {
  margin: 0;
  color: var(--color-one);
  text-decoration: none;
}
